.logo-img {
    width: 30%;
    height: auto;
}

@media screen and (max-width: 576px) {
    .logo-img {
        width: 80%;
        height: auto;
    }
}




.active {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.menu-link-color :hover {
    color: #0087ca;
}